hydra-core
torch==2.7.1
datasets
transformers
trl
peft
matplotlib
tensorboard # TODO: remove this dependency in mllm
diplomacy
optimum
auto-gptq
backoff
pybase64
pydantic
httpx
openai
jsonschema
ipykernel
rstr
vllm